{% extends 'core/base.html'%}
{% block title %}Skills{% endblock title %}
{% block content %} 
<div class="container mt-4">
    <h1 class="text-warning mb-4 border-bottom">SKILLS</h1>
<div class="row test-white">
    <div class="col-sm-5">
        <h3 class="mt-5 text-white">HTML/CSS</H3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100">100%</div>


</div>
</div>

<div class="col-sm-5 offset-1">
    <h3 class="mt-5 text-white">Javascript</H3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuenow="95"
            aria-valuemin="0" aria-valuemax="100">95%</div>


</div>
</div>

<div class="col-sm-5">
    <h3 class="mt-5 text-white">Java Programming</H3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:35%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">35%</div>


</div>
</div>

<div class="col-sm-5 offset-1">
<h3 class="mt-5 text-white">Python</H3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%" aria-valuenow="95"
        aria-valuemin="0" aria-valuemax="100">80%</div>


</div>
</div>

<div class="col-sm-5">
    <h3 class="mt-5 text-white">SQL</H3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">70%</div>


</div>
</div>

<div class="col-sm-5 offset-1">
<h3 class="mt-5 text-white">C</H3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:60%" aria-valuenow="95"
        aria-valuemin="0" aria-valuemax="100">60%</div>


</div>
</div>

<div class="col-sm-5">
    <h3 class="mt-5 text-white">Django</H3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:80%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">80%</div>


</div>
</div>

<div class="col-sm-5 offset-1">
<h3 class="mt-5 text-white">DSA</H3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:40%" aria-valuenow="95"
        aria-valuemin="0" aria-valuemax="100">40%</div>


</div>
</div>
</div>
</div>
{% endblock content%}